@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-Black";
  src: url("../fonts/Raleway-Black.ttf");
}

:root {
  --primary: #eebf00;
  --secondary: #232b38;
  --ternary: #6c6c6c;
  --danger: #fe4545;
  --pure: #fefefe;
  --light: #f0f0f0;
  --heaven: #fff;
  --footer: #2d333f;
}
